.app-bar {
  background-color: #197a92 !important;
  color: #e2e2e2 !important;

  #menu-btn {
    button:hover {
      background-color: rgb(0, 102, 255);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
