h1 {
  padding: 0px;
  margin: 0px;
}

#home {
  display: flex;
  flex-direction: column;

  #hooks {
    display: flex;
    gap: 10px;

    button {
      background-color: #5fc4ff;
    }

    input,
    label,
    div {
      color: rgb(226, 226, 226);
      border-color: white !important;
    }
  }

  .list-users {
    margin-top: 20px;
    padding: 0px;

    li {
      padding: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: fit-content;
      min-width: 100px;
      height: 40px;
      border: 2px solid white;
      border-radius: 20px;
      list-style: none;
      color: rgb(226, 226, 226);
      margin-bottom: 10px;
    }
  }
}
