#side-menu {
    margin-right: 100px;
    padding: 0;
    padding-top: 40px;
    border: 0;
    height: 600px;
    width: 250px;
    min-width: 250px;
    background-color: rgb(189, 0, 0);

    button {
        width: 100%;
        height: 60px;
        margin-bottom: 10px;
        border: none;
        background-color: rgb(71, 71, 71);
        color: white;
        font-size: 16px;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    button:hover {
        background-color: black;
    }
}